<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="include/bootstrap :: bootstrap"></div>
</head>
<body style=";background-size: cover;background-image: url(/img/bg6.png)">
<div th:replace="include/TeacherNav :: TeacherNav"></div>
<div class="jumbotron" style="height: 630px;padding-top: 50px; padding-bottom: 0px; margin-left: 18%;background-image: url(/img/bg6.png);background-size: cover;">
    <div style="padding-left: 20px;">
        <h2>
            &emsp;&emsp;在线考试系统
        </h2>
        <p>
            &emsp;&emsp;欢迎登录在线考试系统（教师端）<br />
        </p>
        <p>
            &emsp;&emsp;本系统提供查看、添加、删除学生，试题及试卷的功能，供老师管理自己的班级学生，为自己班级的学生发布考试，检验学生学习质量。</p>

    </div>
</div>
</body>
</html>